
<ion-content>

  <ion-card >
    <ion-card-header>
      <ion-card-title>
        Inserisci parola:
      </ion-card-title>
    </ion-card-header>

    <ion-card-content >

        <ion-item>
          <ion-label position="floating">Parola:</ion-label>
          <ion-input type="text" min="1" [(ngModel)]="parola" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Definizione:</ion-label>
          <ion-input type="text" min="1" [(ngModel)]="definizione" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Orientamento</ion-label>
          <ion-select value="ORIZZONTALE" okText="Ok" cancelText="Annulla" [(ngModel)]="orientamento" required>
            <ion-select-option value="ORIZZONTALE">Orizzontale</ion-select-option>
            <ion-select-option value="VERTICALE">Verticale</ion-select-option>
          </ion-select>
        </ion-item>

        <br>
        <ion-button expand="block" (click)="closeModal()" shape="round">Invia</ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>