.classifica0{
    content:url("../../game-assets/gold_medal.png");
    height: 40px; 
    width: 40px;
}  
.classifica1{
    height: 40px; 
    width: 40px;
    content:url("../../game-assets/silverMedal.png");
}
.classifica2{
    height: 40px; 
    width: 40px;
    content:url("../../game-assets/bronzeMedal.png");
}