.classifica0{
    content:url("../../game-assets/gold_medal.png");
    height: 40px; 
    width: 40px;
}  
.classifica1{
    height: 40px; 
    width: 40px;
    content:url("../../game-assets/silverMedal.png");
}
.classifica2{
    height: 40px; 
    width: 40px;
    content:url("../../game-assets/bronzeMedal.png");
}
.exitButton{
    margin-inline-end: auto;
}
.footer {  
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center; 
}