<h3>
  TAVOLOZZA COLORI
</h3>
<!--Serve per fare riferimento alla pagina ts--> 
<ion-button class="tavolozza rosso" id="tavolozza-rosso" value="rosso" (click)="impostaColore('rosso')">RED</ion-button>
<ion-button class="tavolozza verde" id="tavolozza-verde" value="verde" (click)="impostaColore('verde')">GREEN</ion-button>  
<ion-button class="tavolozza giallo" id="tavolozza-giallo" value="giallo" (click)="impostaColore('giallo')">YELLOW</ion-button>  
<ion-button class="tavolozza blu" id="tavolozza-blu" value="blu" (click)="impostaColore('blu')">BLUE</ion-button>  
<ion-button class="tavolozza azzurro" id="tavolozza-azzurro" value="azzurro" (click)="impostaColore('azzurro')">LIGHT BLUE</ion-button>  
<ion-button class="tavolozza nero" id="tavolozza-nero" value="nero" (click)="impostaColore('nero')">BLACK</ion-button>  
<ion-button class="tavolozza marrone" id="tavolozza-marrone" value="marrone" (click)="impostaColore('marrone')">BROWN</ion-button>  
<ion-button class="tavolozza arancione" id="tavolozza-arancione" value="arancione" (click)="impostaColore('arancione')">ORANGE</ion-button>  
<ion-button class="tavolozza grigio" id="tavolozza-grigio" value="grigio" (click)="impostaColore('grigio')">GREY</ion-button>  
<ion-button class="tavolozza viola" id="tavolozza-viola" value="viola" (click)="impostaColore('viola')">PINK</ion-button>  
<ion-button class="tavolozza bianco" id="tavolozza-bianco" value="bianco" (click)="impostaColore('bianco')">WHITE</ion-button>  

