ion-toolbar{
    --background: transparent;
    --border-color: transparent;
    --border-style: none;
}

ion-content{
    --background: rgb(121,7,30);
    --background: linear-gradient(90deg, rgba(121,7,30,1) 35%, rgba(185,7,43,1) 100%);
}

ion-item{
    --background:transparent;
    --color:var(--ion-color-light);
}

.title{
    color:var(--ion-color-light);
    font-size: 26px;
    font-weight: bold;
}