.toolbar-container{
    max-width: 1000px;
    margin:auto;
}

.container{
    max-width: 1000px;
    margin:auto;
    padding: 20px;
}

.buttons-container{
    text-align: center;
}

.buttons{
    display: inline-block;
}

.title{
    h2{
        font-family: "Poppins" sans-serif !important;
        font-weight: bold !important;
        color:var(--ion-color-unicamblue) !important;
        font-size: 26px !important;
    }
}

.countdown-selector{
    max-width: 400px;
    --background: transparent;
    --inner-padding-start: 0px;
    --inner-padding-end: 0px;
    --padding-start: 0px;
}

.memory-card{
    aspect-ratio: 3/4;
    border-radius: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    padding:8%;
}

.memory-card img{
    height: auto;
}

.memory-card ion-checkbox{
    position:absolute;
    top:20px;
    left: 20px;
}

.memory-card:hover{
    box-shadow: 0 13px 16px 0 rgba(0,0,0,0.24), 0 18px 50px 0 rgba(0,0,0,0.19);
    transform: translateY(-6px);
}

@media screen and (max-width:440px) {
    .title{    
        h2{
            font-size: 22px !important;
        }
    }
}