<ion-content color="light">

  <div class="container">
    <div class="buttons-container">
      <div class="buttons">
        <ion-button (click)="addNewCard()" color="unicamblue" title="Crea una nuova carta">
          <ion-icon slot="start" name="add"></ion-icon>
          Aggiungi
        </ion-button>

        <ion-button (click)="toggleBulkEdit()" color="unicamgrey" [class.button-disabled]="memoryCards.length == 0"
          title="Abilita la selezione multipla delle carte">
          <ion-icon slot="start" name="checkbox"></ion-icon>
          Seleziona
        </ion-button>

        <ion-button (click)="bulkDelete()" color="unicamred" *ngIf="bulkEdit" title="Elimina elementi selezionati">
          <ion-icon slot="start" name="trash"></ion-icon>
          Elimina
        </ion-button>
      </div>
    </div>

    <div class="title">
      <h2>Elenco delle carte aggiunte</h2>
    </div>

    <swiper [config]="swiperConfig">
      <ng-template swiperSlide *ngFor="let card of memoryCards; let i = index;">
        <ion-card class="memory-card" button="true" tappable title="Modifica" (click)="editCard(card, i)">
          <img src="{{card.url}}" alt="">
          <ion-checkbox *ngIf="bulkEdit" [(ngModel)]="edit[i]"></ion-checkbox>
        </ion-card>
      </ng-template>
    </swiper>

    <div class="title">
      <h2>Impostazioni partita</h2>
    </div>

    <ion-item lines="none" class="countdown-selector">
      <ion-label text-wrap style="font-size: 18px; color: var(--ion-color-unicamgrey);">
        Durata del countdown
      </ion-label>
      <ion-datetime displayFormat="mm:ss" [(ngModel)]="endCountdown" placeholder="Scegli la durata della partita"
        (ionChange)="updateEndCountdown()"
        style="max-width: 70px; font-size: 18px; color: var(--ion-color-unicamgrey); text-align: left;">
      </ion-datetime>
    </ion-item>

    <p style="font-size: 14px; color: var(--ion-color-unicamgrey);">
      Nella versione multiplayer, quando un giocatore vince, viene avviato un countdown che concede agli altri
      la possibilità di continuare la partita e tentare di indovinare le coppie di carte ancora coperte.
    </p>
  </div>
</ion-content>