.time{
    width: 150px;
    height: 90px;
    background-color: grey;
    color: white;
    text-align: center;
}

.currentPlayer{
    border: 2px double blue;
    max-width: max-content;
    height: 60px;
    margin-left: 100px;
}