<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content id="content">

  <ion-card class="time" *ngIf="timeMode">
    <ion-card-header>
      <ion-card-title><strong>TIMER</strong></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong> {{minutes}} : {{seconds}}</strong></p>
    </ion-card-content>
  </ion-card>

  <!-- <ion-grid fixed>
    <ion-row>
      <app-memory-card *ngFor="let card of getCards()" [card]="card" (click)="selectCard(card)" class="card">
      </app-memory-card>
    </ion-row>
  </ion-grid> -->

  <!-- <div style="display:flex; width: auto;">
    <app-memory-card *ngFor="let card of getCards()" [card]="card" (click)="selectCard(card)" class="card">
    </app-memory-card>
  </div> -->

  <ion-row>
    <app-memory-card *ngFor="let card of getCards()" [card]="card" (click)="selectCard(card)" class="card">
    </app-memory-card>
  </ion-row>

</ion-content>