<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-label *ngIf="timer.enabled">Tempo rimanente: {{timer.getTimeLeftToPrint()}}</ion-label>
  </ion-toolbar>

  <app-progress-bar-timer *ngIf="timer.enabled" [timer]="timer" color="danger" reversed="true"></app-progress-bar-timer>
</ion-header>

<ion-content id="content">
  <img src="game-assets/memory-game/game-assets/red_wave.png" alt="" class="wave-header">

  <div class="current-player-div">
    <fieldset class="currentPlayer">
      <legend class="legend">Giocatore corrente</legend>
      {{currentPlayerUsername}}
    </fieldset>
  </div>

  <br>
  <br>

  <ion-row>
    <ion-col *ngFor="let card of getCards(); let i = index;" size="3" size-sm="3" size-md="2" size-lg="1.5">
      <app-memory-card [card]="card" [cardNumber]="i" (click)="selectCard(card)">
      </app-memory-card>
    </ion-col>
  </ion-row>

</ion-content>