@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

ion-content{
    --background: #fff !important;
}

.toolbarContent{
    max-width: 900px;
    margin: auto;
    padding: 0 10px;
    color:#fff;

    h2{
        font-family: 'Balsamiq Sans', cursive;
    }
}

.score{
    margin-left: 10px;
    transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.video-container{
    background-color: var(--ion-color-medium);
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.image-container{
    text-align: center;
    margin-top: 30px;

    img{
        width: 100%;
        max-width: 220px;
        height: auto;
    }
}

.question-number {
    margin: auto;
    padding: 20px 20px 10px;
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;

    h3, p {
        margin: 8px 0;
    }

    @media screen and(max-width:550px) and(max-height:690) {
        padding-bottom: 0;

        p { font-size: 13px; }
        h3 { font-size: 18px; margin-bottom: 0; }
    }
}

.question{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 48px;
    
    @media screen and(max-width:550px) {
        font-size:7.5vw;
    }

    @media screen and(max-width:550px) and(max-height:720) {
        font-size:7vw;
    }
}

.questionContent{
    position: relative;
    z-index: 1000;
    margin-top: 50px;
    max-width: 900px;
    margin: auto;
    padding: 0 20px;
    // border: 2px solid #737373;
    animation: 0.5s ease-out 0s 1 slideInFromBottom;
}

.questionIcon{
    border: 2px solid #737373;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
}

.answersBox{
    // width: 100%;
    max-width: 900px !important;
    margin: auto !important;
    // position: absolute;
    bottom: 0 !important;
    padding: 20px;
    // left: 50%;
    // transform: translateX(-50%);
}

.disabledAnswers{
    pointer-events: none;
}

.answer{
    // position: relative;
    // display: flex;
    // align-items: center;
    border: 2px solid #737373;
    border-radius: 20px;
    // margin-bottom: 15px;
    // padding:15px;
    margin: 0;
    font-family: 'Balsamiq Sans', cursive;
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    box-shadow: none;

    ion-label {
        color: #000;
        font-size: 22px;
    }

    @media screen and(max-width:550px) {
        ion-label {
            font-size:5vw;
        }
    }
    @media screen and(max-width:550px) and(max-height:720) {
        ion-label {
            font-size:4vw;
        }
    }
}

.answer img{
    max-width: 35px;
    position: absolute;
    right: 10px;
    opacity: 0;
    transition: opacity 0.5s;
}

.answer:hover{
    transform: scale(1.03);
    box-shadow: 0 5px rgba(199, 197, 197, 0.7);
}

.answer:active {
    background-color: #fff;
    transform: scale(1);
}

.correctAnswer{
    background-color: #1fbe81;
    color: #fff;
    ion-label{ color: #fff; }
    // border: 2px solid #0a9962;
    img{ opacity: 1; }
}

.wrongAnswer{
    background-color: #e24a4a;
    color: #fff;
    ion-label{ color: #fff; }
    // border: 2px solid #b80b0b;
    img{ opacity: 1; }
}

@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
}
  
.container-classifica {
    max-width: 900px;
    margin:auto;
}