<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Editor crosswords</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card-dimensioni">

    <ion-card-header>
      <ion-card-title>
        Dimensioni cruciverba:
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)=" creaTabellone()" [formGroup]="dimensioni">
        <ion-item>
          <ion-label position="floating">Altezza:</ion-label>
          <ion-input type="number" min="1" name="altezza" formControlName="altezza" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Larghezza:</ion-label>
          <ion-input type="number" min="1" name="larghezza" formControlName="larghezza" required></ion-input>
        </ion-item>
        <br>
        <ion-button expand="block" shape="round" type="submit">CREA TABELLONE</ion-button>
      </form>
    </ion-card-content>

  </ion-card>
  <br>
  <br>
  <div class="board">
    <table id="table" style="margin:auto;">
      <tr id="row0" ></tr>
    </table>
  </div>

</ion-content>