<ion-header>
  <ion-toolbar id="game-title" color="unicamblue">
    <ion-title color="light">Memory Game</ion-title>
    <ion-button slot="end" (click)="confermaAbbandonoPartita()" fill="clear" color="light" shape="round">
      <ion-label>Abbandona la partita</ion-label>
      <ion-icon slot="start" name="exit-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="time">
    <ion-card-header>
      <ion-card-title><strong>TEMPO</strong></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong> {{display}} </strong></p>
    </ion-card-content>
  </ion-card>

  <div class="grid" id="grid">
    <ion-row id="row1"> </ion-row>
  </div>

  <!-- <ion-button (click)="start()">GIOCA ORA</ion-button> -->

</ion-content>