<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ title }}</ion-title>
    <ion-label>Timer: {{timer.timerTime}}</ion-label>
  </ion-toolbar>
  <app-timer [timer]="timer"></app-timer>
</ion-header>

<ion-content>

  <ion-list class="modal">

    <ion-item lines="full">
      <p style="font-size: 16px; color:var(--ion-color-primary);">Rispondi correttamente alla seguente domanda per ottenere un punto</p>
    </ion-item>

    <ion-item>
      <div>
        <p>
          <ion-label style="display: block; text-align: center;">{{card.title}}</ion-label>
        </p>
        <br>
        <br>
        <div style="display: flex; justify-content: center; height: 200px; width: 200px;">
          <img src="{{card.url}}" alt="{{card.title}}">
        </div>
  
      </div>
    </ion-item>
    
    <ion-radio-group value="" (ionChange)="radioGroupChange($event)">
      <ion-list-header>
        <h2 style="font-size: 18px;">{{ card.question }}</h2>
      </ion-list-header>
      <br>
      <br>
      <ion-item *ngFor="let answer of answers" [id]="answer">
        <ion-label>{{ answer }}</ion-label>
        <ion-radio disabled="{{rispostaSelezionata}}" slot="start" [value]="answer"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

</ion-content>
<ion-footer *ngIf="rispostaSelezionata">
  <ion-toolbar color="danger">
    <ion-button fill="clear" expand="block" color="light" (click)="closeModal()">
      Chiudi
      <ion-icon slot="end" name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>