<ion-header>
  <ion-toolbar id="game-title" color="unicamblue">
    <ion-title color="light">Memory Game</ion-title>
    <ion-button (click)= "confirmLeaveMatch()"slot="end" fill="clear" color="light" shape="round">
      <ion-label>Abbandona la partita</ion-label>
      <ion-icon slot="start" name="exit-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <app-progress-bar-timer *ngIf="timerFinale.enabled" [timer]="timerFinale" color="danger" reversed="true"></app-progress-bar-timer>
</ion-header>

<ion-content>

  <ion-card class="time">
    <ion-card-header>
      <ion-card-title><strong>TEMPO</strong></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong> {{display}} </strong></p>
    </ion-card-content>
  </ion-card>

  <ion-grid fixed>
    <ion-row>
      <ion-col *ngFor="let card of getCards()">
        <app-memory-card [card]="card" (click)="selectCard(card)"></app-memory-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>