<!-- TODO: Aggiungi istruzioni -->

<ion-toolbar style="padding: 10px;">
  <ion-button slot="start" (click)="addCell()" shape="round">
    <ion-icon slot="icon-only" name="add-outline" class="ion-hide-md-up"></ion-icon>
    <ion-icon slot="start" name="add-outline" class="ion-hide-md-down"></ion-icon>
    <ion-label class="ion-hide-md-down">Aggiungi casella</ion-label>
  </ion-button>
  <ion-button slot="start" (click)="toggleBulkEdit()" shape="round" [class.button-disabled]="config.cells.length == 0">
    <ion-icon slot="icon-only" name="checkbox-outline" class="ion-hide-md-up"></ion-icon>
    <ion-icon slot="start" name="checkbox-outline" class="ion-hide-md-down"></ion-icon>
    <ion-label class="ion-hide-md-down">Abilita selezione</ion-label>
  </ion-button>
  <ion-button (click)="bulkDelete()" color="danger" shape="round" [class.button-disabled]="config.cells.length == 0">
    <ion-icon slot="icon-only" name="trash-outline" class="ion-hide-md-up"></ion-icon>
    <ion-icon slot="start" name="trash-outline" class="ion-hide-md-down"></ion-icon>
    <ion-label *ngIf="!bulkEdit" class="ion-hide-md-down">Elimina tutto</ion-label>
    <ion-label *ngIf="bulkEdit" class="ion-hide-md-down">Elimina selezionati</ion-label>
  </ion-button>
</ion-toolbar>

<ion-content>

  <ion-card-header>
    <ion-card-title *ngIf="config.cells.length > 0">Il tabellone attualmente contiene le seguenti caselle:
    </ion-card-title>
    <ion-card-title *ngIf="config.cells.length == 0">Attualmente il tabellone di gioco è vuoto!</ion-card-title>
    <ion-card-subtitle *ngIf="config.cells.length == 0">Aggiungi nuove caselle per configurare il gioco!
    </ion-card-subtitle>
  </ion-card-header>

  <ion-row>
    <ion-col size-lg="4" size-md="6" size-sm="12" size="12" *ngFor="let cell of config.cells, let i = index;">
      <ion-card class="cell-card" [class.cell0]="i == 0">
        <ion-list class="card-header">
          <ion-item lines="none" button="true" (click)="expandCell(i)">
            <ion-checkbox slot="start" *ngIf="bulkEdit && i != 0" [(ngModel)]="edit[i]"></ion-checkbox>

            <ion-title style="text-align: left !important;">Casella <strong>{{i}}</strong></ion-title>
            <ion-icon slot="end" color="light" name="chevron-forward-circle-outline"
              *ngIf="expandedCell != i && !bulkEdit">
            </ion-icon>
            <ion-icon slot="end" color="light" name="chevron-down-circle-outline"
              *ngIf="expandedCell == i && !bulkEdit"></ion-icon>
          </ion-item>
        </ion-list>

        <div *ngIf="expandedCell == i && !bulkEdit">
          <ion-list *ngIf="i != 0">
            <ion-item>
              <ion-label position="floating">Link immagine</ion-label>
              <ion-input type="text" placeholder="Inserisci il link di un'immagine" [(ngModel)]="cell.question.img_url">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Link video</ion-label>
              <ion-input type="text" placeholder="Inserisci il link di un video" [(ngModel)]="cell.question.video_url">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Durata del countdown</ion-label>
              <ion-datetime displayFormat="mm:ss" [(ngModel)]="questionsCountdown[i]" (ionChange)="updateCountdown(i)"
                placeholder="Scegli la durata della partita">
              </ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Domanda</ion-label>
              <ion-input type="text" placeholder="Inserisci il testo della domanda" [(ngModel)]="cell.question.q">
              </ion-input>
            </ion-item>

            <ion-list>
              <ion-item *ngFor="let answer of cell.question.answers, let j = index; trackBy:trackEditList">
                <ion-label position="floating">Risposta {{j + 1}}</ion-label>
                <ion-input type="text" placeholder="Inserisci il testo della risposta"
                  [(ngModel)]="cell.question.answers[j]">
                </ion-input>
                <div (click)="deleteAnswer(i,j)">
                  <ion-icon slot="start" name="trash-outline"></ion-icon>
                </div>
              </ion-item>
            </ion-list>
          </ion-list>

          <ion-button *ngIf="i != 0" (click)="addAnswer(i)" expand="block" fill="clear" color="light" shape="round">
            Aggiungi risposta <ion-icon slot="start" name="add-outline"></ion-icon>
          </ion-button>

          <ion-item *ngIf="i == 0">
            <ion-label text-wrap>
              Questa è la prima casella del tabellone, ovvero la casella da cui partiranno le varie pedine!
              <br>La sua presenza è necessaria e non contiene alcuna domanda.
            </ion-label>
          </ion-item>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>