/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent !important;
    border-radius: 20px;
    max-width: 150px;
    aspect-ratio: 3/4;
    background-color: transparent !important;
    perspective: 1000px; /* Gives the 3D effect */
    // box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

    img{
        max-width: 65%;
        height: auto;
    }
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background: rgb(185,7,43);
    background: radial-gradient(circle, rgba(185,7,43,1) 0%, rgba(29,60,98,1) 100%);

    border: 4px solid var(--ion-color-unicamgrey);
    border-radius: 20px;
    max-width: 150px;
    height: auto;
    aspect-ratio: 3/4;

    display:flex;
    justify-content:center;
    align-items:center;
}

.card-number{
    color:rgba(255, 255, 255, 0.5);
    font-size: 18px;
    position: absolute;
    margin:auto;
    width: 100%;
    height: 100%;
}

/* Style the back side */
.flip-card-back {
    background-color: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
    transform: rotateY(180deg);
}

.flip-card:hover{
    // box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 100%);
}