<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button slot="start" (click)="closeModal()" fill="clear" color="dark" title="Annulla">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>

    <ion-title>{{pageTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <ion-row>
      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">
        <ion-card>
          <ion-card-header>
            <ion-item lines="none">
              <ion-icon slot="start" name="reader" size="large" color="dark"></ion-icon>
              <h2 class="form-title">Carta</h2>
            </ion-item>
          </ion-card-header>

          <ion-card-content>
            <p>Titolo</p>
            <ion-input type="text" placeholder="Inserisci il titolo" [(ngModel)]="title"></ion-input>
            <p>Testo</p>
            <ion-textarea placeholder="Inserisci il testo" [(ngModel)]="text"></ion-textarea>
            <p>URL dell'immagine</p>
            <ion-input type="text" placeholder="Inserisci l'url dell'immagine" [(ngModel)]="url">
            </ion-input>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">
        <ion-card>
          <ion-card-header>
            <ion-item lines="none">
              <ion-icon slot="start" name="help-circle" size="large" color="dark"></ion-icon>
              <h2 class="form-title">Domanda</h2>
            </ion-item>

          </ion-card-header>

          <ion-card-content>

            <p>Durata del countdown</p>
            <ion-item lines="none">
              <ion-icon slot="start" name="hourglass"></ion-icon>
              <ion-datetime displayFormat="mm:ss" [(ngModel)]="questionCountdown"
                placeholder="Scegli la durata della partita">
              </ion-datetime>
            </ion-item>

            <p>Domanda</p>
            <ion-input type="text" placeholder="Inserisci la domanda" [(ngModel)]="question.question">
            </ion-input>

            <div *ngIf="question.answers.length > 0">
              <p style="color: var(--ion-color-unicamred);">* La risposta corretta deve essere inserita per prima!</p>

              <ion-item lines="none"
                *ngFor="let answer of question.answers; let j = index; trackBy:trackEditList">
                <ion-input type="text" placeholder="Inserisci la risposta {{j+1}}"
                  [(ngModel)]="question.answers[j]">
                </ion-input>
                <ion-button slot="end" (click)="deleteAnswer(j)" fill="clear" color="unicamgrey" title="Elimina">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-button>
              </ion-item>

            </div>

            <ion-button (click)="addAnswer()" color="unicamred" style="margin-top: 15px;">Aggiungi risposta
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar color="unicamblue">
    <ion-button (click)="createCard()" expand="block" fill="clear" color="light">Salva</ion-button>
  </ion-toolbar>
</ion-footer>