ion-content{
    --background: linear-gradient(#045164, #2460a5, #39a3fa);
}

.game-title{
    --background: linear-gradient(#337fa1, #2460a5, #39a3fa);

    ion-title{
        text-align: center;
        font-family: "Andale Mono", monospace;
        font-weight: bold;
        font-size: 30px;
        color: #fff;
        text-shadow: 3px 2px #2460a5;
    }
}

.dieroll-toolbar{
    --background: linear-gradient(#337fa1, #2460a5, #39a3fa);
}

.dieroll-board{
    display:flex;
    justify-content:center;
    align-items:center;
    height:150px;
}

.players-legend{
    --background: rgba(0,0,0,0);

    .legend-item{
        margin-left: 10px;
        display:flex;
        line-height:20px;
        height:20px;
        .legend-item-text{
            float:left;
            margin-left:5px; 
            color:#fff;
        }
        .goose1-square{ color:#fff; background:#fff; }
        .goose2-square{ color:rgb(246, 41, 75); background: rgb(246, 41, 75); }
        .goose3-square{ color:rgb(255, 204, 0); background: rgb(255, 204, 0); }
        .goose4-square{ color:rgb(22, 106, 175); background: rgb(22, 106, 175); }
        .goose5-square{ color:rgb(196, 98, 32); background:rgb(196, 98, 32); }
        .goose6-square{ color:rgb(82, 210, 182); background:rgb(82, 210, 182); }
    }
}

.board{
    padding: 20px;
}

::ng-deep.row{
    display: flex;
    flex-wrap: wrap;
}

::ng-deep.empty-cell{
    width: 170px;
    height: 170px;
    text-align: center;
}

::ng-deep.game-cell{
    padding:10px;
    background-color: rgb(90, 170, 190);
    border: 1px solid rgb(28, 68, 78);
    width: 170px;
    height: 170px;
    text-align: center;

    ion-label{
        font-size: 20px;
        font-weight: bold;
    }
}

::ng-deep.goose{
    position:absolute;
    max-width:64px;
    max-height:64px;
    p{
        z-index: 1;
        position:absolute;
        margin-top:0px;
        min-width: 64px;
        text-align: center;
        font-weight: bold;
        text-shadow: -1.5px 0 #000, 0 1.5px #000, 1.5px 0 #000, 0 -1.5px #000;
        color: rgb(208, 255, 0);
    }
    img{
        margin-top:18px;
        transform: scaleX(-1);
    }
}

::ng-deep.goose1{
    margin-left:6.5rem;
    margin-top: -2rem;
}

::ng-deep.goose2{
    margin-left:6.5rem;
    margin-top: 3rem;
}

::ng-deep.goose3{  
    margin-left:3rem;
    margin-top: -4rem;
}

::ng-deep.goose4{
    margin-left:3rem;
    margin-top: 1rem;
}

::ng-deep.goose5{
    margin-left:-0.5rem;
    margin-top: -2rem;
}

::ng-deep.goose6{
    margin-left:-0.5rem;
    margin-top: 3rem;
}

@media only screen and (min-width: 1190px) and (max-width: 1430px){
    ::ng-deep.game-cell{
        width: 140px;
        height: 140px;
    }
    ::ng-deep.empty-cell{
        width: 140px;
        height: 140px;
    }
    ::ng-deep.goose{
        max-width:60px;
        max-height:60px;
    }
    ::ng-deep.goose1{
        margin-left:5rem;
        margin-top: -3rem;
    }
    ::ng-deep.goose2{
        margin-left:5rem;
        margin-top: 1.5rem;
    }
    ::ng-deep.goose3{  
        margin-left:2rem;
        margin-top: -5rem;
    }
    ::ng-deep.goose4{
        margin-left:2rem;
        margin-top: 0rem;
    }
    ::ng-deep.goose5{
        margin-left:-1rem;
        margin-top: -3rem;
    }
    ::ng-deep.goose6{
        margin-left:-1rem;
        margin-top: 1.5rem;
    }
}

@media only screen and (min-width: 1021px) and (max-width: 1189px){
    ::ng-deep.game-cell{
        width: 120px;
        height: 120px;
    }
    ::ng-deep.empty-cell{
        width: 120px;
        height: 120px;
    }
    ::ng-deep.goose{
        max-width:55px;
        max-height:55px;
    }
    ::ng-deep.goose1{
        margin-left:4.2rem;
        margin-top: -3.5rem;
    }
    ::ng-deep.goose2{
        margin-left:4.2rem;
        margin-top: 0.8rem;
    }
    ::ng-deep.goose3{  
        margin-left:1.5rem;
        margin-top: -5rem;
    }
    ::ng-deep.goose4{
        margin-left:1.5rem;
        margin-top: -0.5rem;
    }
    ::ng-deep.goose5{
        margin-left:-1.5rem;
        margin-top: -3.5rem;
    }
    ::ng-deep.goose6{
        margin-left:-1.5rem;
        margin-top: 0.8rem;
    }
}

@media only screen and (min-width: 861px) and (max-width: 1020px){
    ::ng-deep.game-cell{
        width: 100px;
        height: 100px;
    }
    ::ng-deep.empty-cell{
        width: 100px;
        height: 100px;
    }
    ::ng-deep.goose{
        max-width:50px;
        max-height:50px;
    }
    ::ng-deep.goose1{
        margin-left:3rem;
        margin-top: -3.2rem;
    }
    ::ng-deep.goose2{
        margin-left:3rem;
        margin-top: -0.2rem;
    }
    ::ng-deep.goose3{  
        margin-left:1rem;
        margin-top: -3.2rem;
    }
    ::ng-deep.goose4{
        margin-left:1rem;
        margin-top: -0.2rem;
    }
    ::ng-deep.goose5{
        margin-left:-1.2rem;
        margin-top: -3.2rem;
    }
    ::ng-deep.goose6{
        margin-left:-1.2rem;
        margin-top: -0.2rem;
    }
}

@media only screen and (min-width: 780px) and (max-width: 860px){
    ::ng-deep.game-cell{
        width: 90px;
        height: 90px;
    }
    ::ng-deep.empty-cell{
        width: 90px;
        height: 90px;
    }
    ::ng-deep.goose{
        max-width:45px;
        max-height:45px;
    }
    ::ng-deep.goose1{
        margin-left:2.8rem;
        margin-top: -3.2rem;
    }
    ::ng-deep.goose2{
        margin-left:2.8rem;
        margin-top: -0.5rem;
    }
    ::ng-deep.goose3{  
        margin-left:0.8rem;
        margin-top: -3.2rem;
    }
    ::ng-deep.goose4{
        margin-left:0.8rem;
        margin-top: -0.5rem;
    }
    ::ng-deep.goose5{
        margin-left:-1.2rem;
        margin-top: -3.2rem;
    }
    ::ng-deep.goose6{
        margin-left:-1.2rem;
        margin-top: -0.5rem;
    }
}

 @media only screen and (min-width: 0px) and (max-width: 779px){
    ::ng-deep.game-cell{
        width: 75px;
        height: 75px;
    }
    ::ng-deep.empty-cell{
        width: 75px;
        height: 75px;
    }
    ::ng-deep.goose{
        max-width:40px;
        max-height:40px;
    }
    ::ng-deep.goose1{
        margin-left:2rem;
        margin-top: -3.5rem;
    }
    ::ng-deep.goose2{
        margin-left:2rem;
        margin-top: -1.2rem;
    }
    ::ng-deep.goose3{  
        margin-left:0.4rem;
        margin-top: -3.5rem;
    }
    ::ng-deep.goose4{
        margin-left:0.4rem;
        margin-top: -1.2rem;
    }
    ::ng-deep.goose5{
        margin-left:-1.3rem;
        margin-top: -3.5rem;
    }
    ::ng-deep.goose6{
        margin-left:-1.3rem;
        margin-top: -1.2rem;
    }
}

// Per nascondere alcuni elementi e mostrarne altri
@media only screen and (max-width: 1020px){
    .game-title{
        display: none !important;
    }
    .dieroll-board{
        display: none !important;
    }
    ::ng-deep.goose{
        p{
            display: none !important;
        }
    }
}

// Per nascondere alcuni elementi e mostrarne altri
@media only screen and (min-width: 1021px){
    .dieroll-toolbar{
        display: none !important;
    }
    .players-legend{
        display: none !important;
    }
}