.rollDice{
    animation: shake 0.5s infinite
}
.backgroundImageDado{
    background-image: url("../../../assets/game-assets/dado1.png");
}
@keyframes shake{
    0%{
        transform: rotate(25deg);
    }
    20%{
        transform: rotate(-25deg);
    }
    50%{
        transform: rotate(25deg);
    }
    75%{
        transform: rotate(-25deg);
    }
    100%{
        transform: rotate(25deg);
    }
}

.mostra1{
    background-image: url("../../../assets/game-assets/dado1.png");
}
.mostra2{
    background-image: url("../../../assets/game-assets/dado2.png");
}
.mostra3{
    background-image: url("../../../assets/game-assets/dado3.png");
}
.mostra4{
    background-image: url("../../../assets/game-assets/dado4.png");
}
.mostra5{
    background-image: url("../../../assets/game-assets/dado5.png");
}
.mostra6{
    background-image: url("../../../assets/game-assets/dado6.png")
}

.players-board{
    // margin:auto;
    margin-top: 15px;
    max-width:484px;
    align-items: center;

    ion-card-title{
        font-weight: bold;
        text-align: center;
    }
}

.dieroll-board{
    // margin:auto;
    margin-top: 15px;
    max-width:484px;
    align-items: center;
}

/* Tablet Styles */
@media only screen and (min-width: 0px) and (max-width: 512px){
    .players-board {
        margin-left: 15px;
        margin-right: 15px;
    }

    .dieroll-board {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.player{
    // border:1px solid black;
    align-items: center;
    max-width: 100px;
}

.board{
    background-color: lightblue;
    padding: 20px;
}

.grey{
    background-color: grey;
}

.empty-cell{
    // background-color: rgb(90, 170, 190);
    // border: 1px solid rgb(28, 68, 78);
    width: 170px;
    height: 170px;
    text-align: center;
}

.game-cell{
    padding:10px;
    background-color: rgb(90, 170, 190);
    border: 1px solid rgb(28, 68, 78);
    width: 170px;
    height: 170px;
    text-align: center;
    ion-label{
        font-weight: bold;
        font-size: 20px;
    }
}

// @media only screen and (min-width: 1000px) and (max-width: 1400px){
//     .game-cell{
//         width: 100px;
//         height: 100px;
//     }
// }

// @media only screen and (min-width: 800px) and (max-width: 999px){
//     .game-cell{
//         width: 70px;
//         height: 70px;
//     }
// }

// @media only screen and (min-width: 0px) and (max-width: 799px){
//     .game-cell{
//         width: 100px;
//         height: 100px;
//     }
// }

.row{
    display: flex;
    flex-wrap: wrap;
}

.goose1{
    position: absolute;
    transform: scaleX(-1);
}

.goose2{
    position: absolute;
    margin-top: 40px;
    margin-left: -6px;
    transform: scaleX(-1);
}

.goose3{
    position: absolute;
    margin-top: 80px;
    margin-left: -12px;
    transform: scaleX(-1);
}

.goose4{
    position: absolute;
    margin-left: -80px;
    transform: scaleX(-1);
}

.goose5{
    position: absolute;
    margin-top: 40px;
    margin-left: -86px;
    transform: scaleX(-1);
}

.goose6{
    position: absolute;
    margin-top: 80px;
    margin-left: -92px;
    transform: scaleX(-1);
}