<ion-header>
  <ion-toolbar class="game-title">
    <ion-title>Gioco dell'Oca</ion-title>
    <ion-button slot="end" (click)="abbandonaPartita()" fill="clear" color="light" shape="round"
      class="ion-hide-md-down">
      <ion-label>Abbandona la partita</ion-label>
      <ion-icon slot="start" name="exit-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>

  <ion-toolbar class="dieroll-toolbar">
    <ion-item lines="none" style="--background: rgba(0,0,0,0);">

      <ion-button slot="end" [class.button-disabled]="!abilitaDado" color="secondary" shape="round" expand="block"
        (click)="lanciaDado()">
        Lancia dado
      </ion-button>

      <ion-button slot="end" (click)="abbandonaPartita()" fill="clear" color="light" shape="round"
        class="ion-hide-md-down">
        <ion-icon slot="start" name="exit-outline"></ion-icon>
      </ion-button>

    </ion-item>

    <ion-item lines="none" class="players-legend">
      <div *ngFor="let player of gamePlayers" class="legend-item">
        <div class="{{player.goose}}-square"
          style="height: 20px; max-height: 35px; width: 20px; max-width: 35px; border: 1px solid #000;">0</div>
        <div class="legend-item-text">{{ player.username }}</div>
      </div>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="dieroll-board">
    <ion-button [class.button-disabled]="!abilitaDado" color="secondary" size="large" shape="round"
      (click)="lanciaDado()" style="position:absolute; right: 50px;">Lancia dado</ion-button>
  </div>

  <div class="board">
    <table id="table" style="margin:auto;">
      <tr id="row0" class="row"></tr>
    </table>
  </div>
</ion-content>