@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// .drawing-area{
//     background-color: #fff;

//   }
#dashboard {
  height: 100%;
  overflow-y: hidden;
}
#header{
  //height: 5vh;
  display: inherit;}
#pixel-content{
  height: 95vh;
  padding-left: 15%;
  padding-right: 15%;
  background-image: url(./game-assets/pixel-art.png);
  background-repeat: no-repeat;
  background-position: center;
}
#pulisciButton, app-scegli-disegno{float: left;}
// PIXEL ART GAME
::ng-deep.drawing-area {
  background-color: #fff;
 
  text-align: center;
}



::ng-deep.color-select {
  font-weight: bold;
text-decoration: underline;
text-decoration-thickness: 4px;
text-decoration-color: #000;
}

#tavolozza-bianco {
  color: #000!important;
}

::ng-deep.color-select#tavolozza-nero, 
::ng-deep.color-select#tavolozza-blu  {
  font-weight: bold;
text-decoration: underline;
text-decoration-thickness: 4px;
text-decoration-color: rgb(255, 255, 255);
}

::ng-deep.pixel {

  border: 1px solid #000;
  float: left;
  background-color: #fff;
  --background: transparent;
  color: #000;

}

::ng-deep.tavolozza {
  height: 50px;
  width: 40%;
  color: #fff;
  margin: 1px;
  float: left;
}

::ng-deep.pix-error {
  border: 3px solid rgb(119, 0, 0);
}

::ng-deep.grid10 {
  width: 10%;
  height: 3.6vw !important;
  margin: 0!important;
}



::ng-deep.rosso {
  background-color: rgb(255, 0, 0);
  --background:rgb(255, 0, 0);
}

::ng-deep.verde {
  background-color: rgb(0, 255, 8);
  --background: rgb(0, 255, 8);
}

::ng-deep.giallo {
  background-color: rgb(225, 255, 0);
  --background:rgb(225, 255, 0);
  color: #000;
}



::ng-deep.blu {
  background-color: rgb(21, 10, 105);
  --background:rgb(21, 10, 105);
}

::ng-deep.azzurro {
  background-color: rgb(76, 194, 226);
  --background:rgb(76, 194, 226);
}

::ng-deep.nero {
  background-color: rgb(18, 17, 17);
  --background:rgb(18, 17, 17);
}


::ng-deep.marrone {
  background-color: rgb(140, 81, 14);
  --background:rgb(140, 81, 14);
}


::ng-deep.arancione {
  background-color: rgb(251, 138, 40);
  --background:rgb(251, 138, 40);
}


::ng-deep.grigio {
  background-color: rgb(161, 161, 156);
  --background:rgb(161, 161, 156);
}


::ng-deep.viola {
  background-color: rgb(216, 117, 247);
  --background:rgb(216, 117, 247);
}

::ng-deep.bianco {
  background-color: #fff;
  --background: #fff;
  color: #000;
}

::ng-deep.codice {
  border-bottom: solid 1px grey;
}