#tempoModeCard, #normalModeCard{
    border-radius: 15px;
}

.mode-selected{
    --background: rgb(121,7,30);
    --background: linear-gradient(90deg, rgba(121,7,30,1) 35%, rgba(185,7,43,1) 100%);
    // --background: var(--ion-color-unicamred);
    --color:var(--ion-color-light);
    ion-card-title{
        --color:var(--ion-color-light);
    }
}